#about{
  width: 50%;
}

#about {
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

body {
  background-color: gray;
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
}

p {
  margin-left: 20px;
}
nav ul li p {
  margin-left: 0px;
}
#skills{
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50%;
  float: right;
}
#skills p {
  text-align: center;
}

#skills ul li {
  float: left;
  margin-left: 20px;
}
@media only screen and (max-width: 682px){
  #about {
    width: 75%;
  }
  #skills {
    float: none;
  }
}
@media only screen and (max-width: 520px){
  #skills {
    margin-top: 40px;
    position: static;
  }
  #skills p {
    text-align: left;
  }
  #skills ul li {
    float: none;
  }
  p {
    margin-left: 0px;
  }
  #about {
    width: 100%;
    margin-top: 60px;
    font-size: .9em;

  }
}
