body {
  position: static;
  top: 0;
  right: 0;
  font-family: "Lucida Console", Monaco, monospace;
  color: white;
  font-size: 16px;
  background-color: black;
}
.label {
  margin-top: -15px;
}
.label h1 {
  margin-bottom: 0;
}
.label h3 {
  margin-top: 0;
}
nav {
  position: absolute;
  right: 15px;
  top: 5px;
  margin-top: 22px;
  margin-right: 6px;
}

nav ul, #Mnav ul {
  list-style: none;
}

nav ul li {
  float:left;
  padding-right: 5px;
  margin-right: 5px;
  border-right: 1px solid white;
  margin-top: 2px;
  margin-bottom: 2px;
}
nav ul li p, #Mnav ul li p{
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 1em;
  margin-top: 2px;
  margin-bottom: 2px;
}
.cross {
  font-size: 1.7em;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 3px;
  right: 10px;
  cursor: pointer;
}
.contact-cross {
  font-size: 1.7em;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  position: absolute;
  padding: 0;
  margin: 0;
  top: -30px;
  right: 0px;
  cursor: pointer;
}
.my-email {
  margin-left: 40px;

}
#Mnav{
  display: none;
  position: fixed;
  top: 0px;
  height: 100%;
  width: 50%;
  background-color: black;
  left: 100%;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  z-index: 1;
  opacity: 0.7;
}
#Mnav ul{
  padding-left: 15px;
  margin-top: 30px;
  left: -10px;
  width: 40%;
}
#Mnav ul li{
  margin-top: 20px;
  margin-right: 20px;
  opacity: 1;
}
#Mmenu{
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
}
#Mmenu div {
 position: absolute;
 right: 100%;
 top: 64%;
 padding-right: 8px;
 margin-top: -0.50em;
 line-height: 1.2;
 font-size: 18px;
 font-weight: 200;
 vertical-align: middle;
 z-index: 99;
}

#Mmenu span {
 display: block;
 width: 23px;
 height: 4px;
 margin: 4px 0;
 background: rgb(255,255,255);
 z-index: 99;
}
.project-title{
  position: fixed;
  top: 33%;
  left: 25%;
  -webkit-transition: left 2s;
  transition: left 2s;
}

.project-title p {
  font-size: 1.6em;
  text-decoration: none;
  color: white;
  -webkit-transition: font-size 0.2s;
  transition: font-size 0.2s;
  cursor: pointer;
}

.project-title p:hover{
  font-size: 180%;
}

.project-description{
  position: fixed;
  top: 70%;
  left: 50%;
  margin-right: 20px;
  width: 50%;
  -webkit-transition: left 2s;
  transition: left 2s;
}
#carousel-selector{
  margin: 0 auto;
  position: fixed;
  left: 25%;
  top: 90%;
}

.carousel-selected{
  opacity: 0.5;
}
.circle {
  border-radius: 50%;
  width: 7px;
  height: 7px;
  background-color: white;
  opacity: 0.4;
  margin: 3px;
  -webkit-transition: width 0.2s, height 0.2s;
  transition: width 0.2s, height 0.2s;
  float: left;
}
.circle:hover{
  width: 12px;
  height: 12px;
}


#contact-form {
  width: 300px;
  height: 500px;
  position: fixed;
  top: 110%;
  -webkit-transition: top 300ms linear;
  transition: top 300ms linear;
}
#contact-form form div {
  float:right;
}


/*media queries*/
@media only screen and (max-width: 682px){
  nav {
    margin-top: 5.5px;
    padding-right: 5px;
  }
  nav ul li p {
    font-size: 0.9em;
  }
  .label {
    margin-top: -12px
  }
  .label h1{
    font-size: 1.4em;
  }
  .label h3 {
    font-size: 1em;
    margin-top: 0;
    padding-top: 0
  }
  .project-title h1{
    font-size: 1.2em
  }
  .project-description p{
    font-size: .9em;
  }
  #carousel-selector {}
}

@media only screen and (max-width: 520px){
  body {
    font-family: "Courier New", Courier, monospace
  }
  nav {
    display: none;
  }
  #Mmenu {
    display: block;
  }
  #Mnav {
    display: block;
  }
  .project-description{
    left: 25%;
  }
  .label{
    position: absolute;
    top: 5px;
  }
}
@media only screen and (max-width: 303px){
  .label{
    top: 13px;
  }
  .label h1{
    font-size: .8em;
    margin-top: 5px;
    padding-top: 5px;
  }
  .label h3 {
    font-size: .6em;
  }
  .project-title{
    top: 100px;
    font-size: .8em;
  }
  .project-description{
    font-size: .6em;
  }
  #carousel-selector{
    top: 68%;
  }
  #Mnav{
    width: 60%;
  }
  .circle {
    width: 1px;
    height: 1px;
    margin: 1px;
  }
}
@media only screen and (max-width: 193px){
  .label {
    width: 75%;
    padding-top: 0;
  }
}
@media only screen and (max-height: 315px){
  body {
    background-color: black;
  }
  .project-description{
    top: 50%;
  }
}

#bubbles-canvas,
#back-canvas{
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
}
