
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(https://fonts.gstatic.com/s/pressstart2p/v4/8Lg6LX8-ntOHUQnvQ0E7o08SWvhA5BcWCS8xVZDIH7E.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
#canvas-wrap {
  position: relative;
}
#exit {
  float: right;
  margin-right: 20px;
  cursor: pointer;
}
#game-canvas {
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid #111;
}

body {
  background-color: black;
}

#mouse-sensitivity-menu {
  display: none;
  border-radius: 10px;
  width: 50%;
  height: 50%;
  background-color: gray;
  position: absolute;
  top: 25%;
  left: 25%;
  z-index: 99;
}

#mouse-sensitivity-menu input {
  font-family: 'Press Start 2P' 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: -10px;
}

#mouse-sensitivity-menu p {
  margin-left: 40px;
  margin-top: 20px;
}
@media (max-width: 700px){
  #mouse-sensitivity-menu p {
    font-size: 10px;
  }
  #mouse-sensitivity-menu {
    top: 10%;
    height: 200px;
  }
}
